@import 'normalize.scss';
@import 'variables.scss';
@import 'mixins.scss';
@import 'general.scss';
@import 'animation.scss';

.button {
  background: transparent;
  border: none;
  cursor: pointer;

  & path,
  & line {
    transition: stroke 0.5s ease;
  }

  &:hover path,
  &:hover line,
  &:focus path,
  &:focus line {
    stroke: $second-color;
  }
}

.text {
  cursor: default;
}

.title {
  padding: 0;
  margin: 0;

  font-family: 'EB Garamond', serif;
  font-weight: 700;

  cursor: default;
}

.title--small {
  padding-bottom: 25px;

  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.title--medium {
  padding-top: 80px;
  padding-bottom: 80px;

  font-size: 48px;
  text-align: center;
}

.title--xs {
  font-family: 'Cormorant Garamond', serif;
  font-size: 27px;
  font-weight: 700;
  text-align: left;
}

.title--subtitle {
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.promo {
  height: 1038px;

  background-image: url(../images/bgc.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.promo__title {
  display: block;
  width: 550px;
  margin: 0 auto;
  margin-top: 260px;

  text-align: center;
  font-size: 72px;
  line-height: 86px;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: $main-color;
  }
}

.header__logo-img {
  width: 40px;
}


.main-menu__list {
  display: flex;
  justify-content: space-around;

  margin: 0;
  padding: 0;
  gap: 80px;

  list-style: none
}

.main-menu__link {
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;

  color: $main-color;

  border-bottom: 1px solid transparent;

  transition: 0.5s all;

  &:hover,
  &:focus {
    color: $second-color;
    border-bottom: 1px solid $second-color;
  }
}

.main-menu__link--current {
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;

  color: $second-color;

  border-bottom: 1px solid $second-color;

  cursor: default;
}

.hamburger {
  display: none;

  &--close {
    & span {
      transition: 0.5s transform ease;
    }

    & span:nth-child(2) {
      transform: translateY(-2px) translateX(-2px) rotate(45deg);
      transform-origin: left top;
    }

    & span:nth-child(3) {
      visibility: hidden;
    }

    & span:nth-child(4) {
      transform: translateX(-13px) translateY(-19px) rotate(-45deg);
      transform-origin: right bottom;
    }
  }
}

.hamburger__item {
  display: block;
  width: 33px;
  height: 2px;
  margin: 6px 0;

  background-color: $main-color;
}

.description {
  position: relative;
  max-width: 856px;
  margin: 0 auto;
  padding-top: 244px;
  padding-bottom: 95px;

  &::before {
    content: "";
    position: absolute;
    right: 50%;
    margin-right: -40px;
    top: 120px;

    width: 80px;
    height: 64px;

    background-image: url(../images/icons/quotes.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.description__text {
  margin: 0;
  margin-bottom: 20px;

  font-size: 27px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer {
  flex: 0 0 auto;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 396px));
  grid-template-rows: repeat(2, auto);
  column-gap: 44px;
  row-gap: 60px;
  margin: 0;
  padding: 0;
  padding-right: 20px;

  list-style: none;
}

.service {
  max-width: 396px;
}

.service__img-wrapper {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 20px;

    width: 100%;
    height: 100%;
    z-index: -1;

    background-color: transparent;
    border: 1px solid $second-color;
  }
}

.service__img {
  width: 100%;
  height: auto;
}

.service__link {
  padding: 0;

  text-decoration: none;

  color: $main-color;

  transition: 0.5s all;

  &:hover,
  &:focus {
    color: $second-color;
  }
}

.service__description {
  margin: 30px 0;
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
}

.partners__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 148px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 78px;

  list-style: none;
}

.partners__link {
  cursor: pointer;

  & path {
    transition: fill 0.5s ease;
  }

  &:hover path,
  &:focus path {
    fill: $second-color;
  }
}

.works__menu-list {
  display: flex;
  justify-content: space-between;
  max-width: 722px;
  margin: 0 auto;
  padding: 0;

  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
  font-weight: 400;

  list-style: none;
}

.works__tab {
  border-bottom: 1px solid transparent;

  cursor: pointer;

  transition: 0.5s all;

  &:hover,
  &:focus {
    color: $second-color;
    border-bottom: 1px solid $second-color;
  }
}

.works__tab--active {
  color: $second-color;
  border-bottom: 1px solid $second-color;

  cursor: default;
}

.works__list {
  display: none;
  margin: 0;
  padding: 0;
  padding-top: 60px;
  list-style: none;
}

.works__list--active {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 416px));
  gap: 24px;
}

.works__img {
  max-width: 100%;
  height: auto;
}

.map__img {
  width: 100%;
  height: auto;
}

.map-description__wrapper {
  display: grid;
  grid-template-columns: 315px 180px 315px 180px;
  justify-content: space-between;

  padding-top: 80px;
}

.masters__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 400px));
  column-gap: 40px;
  row-gap: 60px;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  padding-right: 16px;
  list-style: none;
}

.master__photo-wrapper {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -20px;
    right: -16px;

    width: 100%;
    height: 100%;
    z-index: -1;

    background-color: transparent;
    border: 1px solid $second-color;
  }
}

.master__photo {
  width: 100%;
  height: auto;
}

.master__name {
  padding-top: 30px;
  padding-bottom: 10px;
}

.price__list {
  display: flex;
  flex-direction: column;
  gap: 80px;

  padding: 0;
  margin: 0;
}

.price-card__table {
  border-collapse: collapse;
}

.prise-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
}

.price-card__image {
  width: 49%;
  height: auto;
}

.price-card__table {
  width: 40%;
}

.prise-card__service {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 20px;

  border-bottom: 1px solid $main-color;

  &:first-child {
    padding-top: 0;
  }
}

.prise-card__description {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.info {
  position: absolute;
  right: 0;
  top: 0;

  width: 475px;
  height: 1038px;

  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  font-weight: 400;
  text-align: left;

  background-color: #111111;
  border-left: 1px solid $main-color;

  animation-name: open-info;
  animation-duration: 0.5s;

  transition: 0.5s all;

  &.info--close {
    display: none;

    animation-name: close-info;
    animation-duration: 0.5s;
    transition: 0.5s all;
  }
}

.button--info-close {
  position: absolute;
  top: 42px;
  width: 28px;
  height: 28px;

  &::before,
  &::after {
    content: '';

    position: absolute;
    left: -5px;
    top: 13px;
    width: 37px;
    height: 2px;

    background-color: $main-color;

    transition: 0.5s all;
  }
}

.button--info-close::before {
  transform: rotate(45deg);
}

.button--info-close::after {
  transform: rotate(-45deg);
}

.button--info-close:hover::before,
.button--info-close:hover::after,
.button--info-close:focus::before,
.button--info-close:focus::after {
  background-color: $second-color;
}

.info__contacts {
  padding-top: 60px;
}

.info__working-mode {
  padding-top: 60px;
}

.info__container {
  position: relative;
  width: 315px;
  margin: 0 auto;
  padding-top: 246px;
}

.info__text {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  line-height: 23px;
}

.footer {
  margin-top: 100px;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 60px 300px 180px 170px;
  justify-content: space-between;
  padding: 80px 0;

  border-top: 1px solid $main-color;
  border-bottom: 1px solid $main-color;
}

.footer__social {
  justify-self: end;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contacts__link {
  font-size: 18px;
  font-weight: 400;

  color: $main-color;

  text-decoration: none;

  transition: 0.5s all;

  &:hover,
  &:focus {
    color: $second-color;
  }
}

.contacts__adress {
  font-size: 18px;
  font-weight: 400;

  color: $main-color;
}

.working-mode__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  font-size: 18px;
  font-weight: 400;

  color: $main-color;
}

.copyright__text {
  margin: 0;
  padding: 30px 0 30px 0;

  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

@import 'media.scss';
